<div class="mb-5">
<button (click)="onCreateUser()" mat-flat-button color="primary" type="button">
    <mat-icon>add</mat-icon>
    Crear Alumno
</button>
</div>

<h1>Alumnos registrados </h1>
<h2>Fecha Actual: {{ today | date: 'short' }}</h2>

<p *appRepetir="1">
    Los siguientes alumnos que se muestran en la tabla, tuvieron exito con la <span appResaltado>nota 9</span> en el examen de ingreso
</p>

<h1>{{ loading ? 'Cargando...': '' }}</h1>

<div *ngIf="!loading">
    {{ nombres }}
    <br>
    {{ numeros }}
</div>

<app-users-table
    [dataSource]="(users | async) || []" 
    (deleteUser)="onDeleteUser($event)"
    (editUser)="onEditUser($event)"
></app-users-table>